.container {
  position: fixed;

  z-index: 30;
  background-color: #131e226a;
  width: 100vw;
  height: 100vh;
}

.prospectMode {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .heading {
    font-size: 1.6rem;
    font-weight: 600;
    color: #131e22;
    letter-spacing: -0.01rem;
  }
}
