.paths {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .path {
    &__info {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    &__name {
      font-size: 1.6rem;
      font-weight: 600;
      color: #131e22;
      letter-spacing: -0.01rem;
    }

    &__distance {
      font-size: 1.4rem;
      font-weight: 400;
      color: #131e22;
      letter-spacing: -0.01rem;
    }

    &__time {
      font-size: 1.4rem;
      font-weight: 400;
      color: #131e22;
      letter-spacing: -0.01rem;
    }
  }
}
