.btn {
  width: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  font-size: 1.6rem;
  border-radius: 0.8rem;
  background-color: #f0f4f5;

  transform: translateY(-3rem);
  cursor: pointer;
}
