.sidebar {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;

  width: 45rem;

  padding: 3rem 2rem 3rem 4rem;

  height: calc(100vh - 9rem);

  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 0.8rem;
    border-radius: 1rem;

    background-color: #fff;
  }

  &:hover {
    &::-webkit-scrollbar {
      width: 0.8rem;
      border-radius: 1rem;
    }

    &::-webkit-scrollbar-track {
      background-color: #fff;
      border-radius: 1rem;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #f0f4f5;
      border-radius: 1rem;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: #e4e4e4;
    }

    scrollbar-width: thin;
    scrollbar-color: #f0f4f5 #fff;
  }
}
