* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  box-sizing: border-box;
  scroll-behavior: smooth;

  @media only screen and (max-width: 70.25em) {
    font-size: 54%;
  }
}

input,
button,
textarea,
select {
  font: inherit;
}

svg {
  pointer-events: none;
}

.wrapper {
  display: flex;
  min-height: 100svh;
}

body {
  font-family: 'Eudoxus Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-weight: 400;
  line-height: 1.65;
  -webkit-font-smoothing: antialiased;
}

// style overrides for react-switch-selector
.react-switch-selector-option-label {
  background-color: #fff !important;
}

.react-switch-selector-option-selected {
  .react-switch-selector-option-label {
    border-bottom: 2px solid #131e22 !important;
  }
}

.react-switch-selector-option-unselected {
  .react-switch-selector-option-label {
    border-bottom: 2px solid #fff !important;
  }
}

.react-switch-selector-wrapper {
  border-radius: 0px !important;
}
